<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /dev/

    # Force root of /dev to public/index.php
    RewriteRule ^$ public/index.php [L]

    # Skip existing files/folders
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Send all other requests to public folder
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
